'context-menu':
  'atom-text-editor': [
    {
      'label': 'imdone task-board'
      'command': 'imdone-atom:tasks'
    },
    {
      'label': "Today's Journal"
      'command': 'imdone-atom:todays-journal'
    }
  ],
  '.tree-view .file, .tree-view .directory': [
    {
      'label': 'imdone task-board'
      'command': 'imdone-atom:tasks'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'imdone'
      'submenu': [
        {
          'label': 'imdone task-board'
          'command': 'imdone-atom:tasks'
        },
        {
          'label': "Today's Journal"
          'command': 'imdone-atom:todays-journal'
        }
      ]
    ]
  }
]
