# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-t': 'imdone-atom:tasks'
  'alt-j': 'imdone-atom:todays-journal'
  'alt-p': 'imdone-atom:todays-project-journal'
  'alt-.': 'imdone-atom:board-zoom-in'
  'alt-,': 'imdone-atom:board-zoom-out'
  'alt-x': 'imdone-atom:export'
