	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-apple-robot:before { content: "\f100"; }
.flaticon-big-robot-head:before { content: "\f101"; }
.flaticon-broken-robot:before { content: "\f102"; }
.flaticon-evil-robot-holding-a-knife-and-a-bomb:before { content: "\f103"; }
.flaticon-laptop-with-eyes:before { content: "\f104"; }
.flaticon-man-kicking-robots-head:before { content: "\f105"; }
.flaticon-mouse-with-cable:before { content: "\f106"; }
.flaticon-plug-wire:before { content: "\f107"; }
.flaticon-robot-box:before { content: "\f108"; }
.flaticon-robot-collapsed:before { content: "\f109"; }
.flaticon-robot-computer:before { content: "\f10a"; }
.flaticon-robot-head-with-cardiogram:before { content: "\f10b"; }
.flaticon-robot-holding-a-star:before { content: "\f10c"; }
.flaticon-robot-holding-heart:before { content: "\f10d"; }
.flaticon-robot-in-love:before { content: "\f10e"; }
.flaticon-robot-on-rocket:before { content: "\f10f"; }
.flaticon-robot-round-head:before { content: "\f110"; }
.flaticon-robot-with-add-sign:before { content: "\f111"; }
.flaticon-robot-with-antenna:before { content: "\f112"; }
.flaticon-robot-with-arm-up:before { content: "\f113"; }
.flaticon-robot-with-big-head:before { content: "\f114"; }
.flaticon-robot-with-cancel-sign:before { content: "\f115"; }
.flaticon-robot-with-check-mark:before { content: "\f116"; }
.flaticon-robot-with-clock-bomb:before { content: "\f117"; }
.flaticon-robot-with-cogwheel-on-chest:before { content: "\f118"; }
.flaticon-robot-with-error-sign:before { content: "\f119"; }
.flaticon-robot-with-keyboard:before { content: "\f11a"; }
.flaticon-robot-with-left-arm-up:before { content: "\f11b"; }
.flaticon-robot-with-minus-sign:before { content: "\f11c"; }
.flaticon-robot-with-padlock:before { content: "\f11d"; }
.flaticon-robot-with-piano-keys:before { content: "\f11e"; }
.flaticon-robot-with-plug:before { content: "\f11f"; }
.flaticon-robot-with-rising-arms:before { content: "\f120"; }
.flaticon-robot-with-round-head:before { content: "\f121"; }
.flaticon-robot-with-sd-card:before { content: "\f122"; }
.flaticon-robot-with-server:before { content: "\f123"; }
.flaticon-robot-with-two-arms-up:before { content: "\f124"; }
.flaticon-robot-with-usb-symbol:before { content: "\f125"; }
.flaticon-smartphone-with-robot:before { content: "\f126"; }
.flaticon-smiling-robot:before { content: "\f127"; }