// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@menu-component-width: 188px;
@menu-width: 224px;

.imdone-atom {
  .imdone-loading {
    margin: 1em;
  }
  color: @text-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .imdone-menu {
    position:absolute;
    margin: 1em;
    top: 0;
    bottom: 0;
    left: -200px;
    width: @menu-width;
    display: none;
    z-index: 1;
    background-color: @base-background-color;
    transition: left  0.2s;
    &.open {
      left: 0;
    }
    .imdone-menu-toggle {
      cursor: pointer;
      position: absolute;
      top: 2px;
      right: 6px;
      width: 24px;
      border: none;
      background-color: inherit;
      height: 22px;
      padding: 4px;
    }
    .imdone-filter {
      width: @menu-component-width;
      atom-text-editor {
        padding-right: 24px;
      }
      // input::-webkit-input-placeholder {
      //    @text-color-subtle;
      // }
      .clear-filter {
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 36px;
        width: 24px;
        border: none;
        background-color: inherit;
        height: 22px;
        padding: 4px;
      }
    }
    .lists {
      list-style: none;
      padding-left: 0;
      margin-top: 1.5em;
      width: @menu-component-width;
      .hidden-list {
        color: @text-color-subtle;
      }
      li {
        line-height: 1.5;
        font-size: 1em;
        padding-left: 1em;
        &:hover {
          background-color: @background-color-highlight;
        }
        .toggle-list {
          font-size: 1.25em;
          cursor: pointer;
        }
        .reorder {
          cursor: move;
        }
      }
    }
  }

  .imdone-board-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;
    right: 0;
    overflow: auto;
    &.shift {
      left: @menu-width;
    }
    transition: left 0.2s;
    .imdone-board {
      margin: 1em;
      .list {
        float: left;
        width: 362px;
        padding: 10px;
        background-color: @panel-heading-background-color;
        margin-right: 10px;
        .list-name {
          background-color: @inset-panel-background-color;
          font-size: 1.5em;
          padding: .5em;
        }
        .task {
          background-color: @inset-panel-background-color;
          font-size: 1.25em;
          white-space: normal;
          word-wrap: break-word;
          .task-text {
            p {
              margin: 0 0 5px;
            }
          }
          .task-order {
            position: absolute;
            top: 2px;
            right: 2px;
          }
          .task-context {
            color: @text-color-warning;
          }
          .task-tags {
            color: @text-color-success;
          }
          .task-meta table {
            border: 1px solid @panel-heading-background-color;
            border-bottom: none;
            width: 100%;
            margin: .5em 0 .5em 0;
            tr {
              border-bottom: 1px solid @panel-heading-background-color;
              td {
                padding: 3px;
              }
            }
          }
          .task-source {
            a {
              color: @text-color-info;
            }
          }
        }
      }
    }
  }

  .well {
    padding: 1em;
    border-radius: @component-border-radius;
    margin-bottom: 1em;
  }
}
