// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@name: "imdone-atom";

@import "ui-variables";
@import "imdone-plugins";
@import "icomoon/style";
@import "flaticon/flaticon";

@menu-component-width: 178px;
@menu-width: 232px;
@board-list-width: 362px;
@board-list-name-width: 330px;
@config-height: 300px;
@task-font-size: 1.2em;
// @task-background-color: @inset-panel-background-color;
@task-background-color: @tab-background-color;

.imdone-atom {
  ul, ol {
    -webkit-padding-start: 1.5em;
    &.checklist {
      -webkit-padding-start: 0;
      list-style-type: none;
      li {
        &>input {
          float: left;
        }
        &>label {
          max-width: 90%;
        }
      }
    }
  }
  input[type='checkbox'] {
    margin-right: 5px;
  }
  svg {
    .base-fill {
      fill: @pane-item-background-color;
      fill-opacity:0;
      fill-rule:nonzero;
    }
    .base-stroke {
      stroke: @pane-item-background-color;
      stroke-width:6;
      stroke-linecap:butt;
      stroke-linejoin:round
    }

    .visible-fill {
      fill:@text-color;
    }

    .visible-stroke {
      stroke:@text-color;
      stroke-width:12;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .spinner {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: @app-background-color;
      border-color: @base-border-color;
      height: 8em;
      padding-top: 1em;
    }
    .spinner-container, .spinner-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .spinner-mask {
      background-color: @tab-background-color;
      opacity: .35;
    }
  }
  .imdone-loading {
    position: absolute;
    top: 8em;
    margin: 0 1em;
    z-index: 1001;
    p, ul {
      font-size: 16px;
    }
  }

  .split-handle-y {
    height: 8px;
    margin-top: -2px;
    width: 100%;
    cursor: row-resize;
  }

  .imdone-app-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .imdone-main-container {
    display: none;
  }

  .imdone-bottom-view {
    background-color: @base-background-color;
    position: absolute;
    bottom: -2-@config-height;
    right: 0;
    left: 42px;
    height: @config-height;
    // background-color: @tool-panel-background-color;
    border-top: 1px solid @tool-panel-border-color;
    padding: 0 1em;
    transition: left 0.2s;
    display: none;
    &.open {
      bottom: 0;
      z-index: 100;
      display: block;
    }
    &.shift {
      left: (@menu-width + 10);
    }
    .bottom-view-header {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 40px;
    }
    .bottom-view-main {
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
    }
    .input-small {
      width: 200px;
      float: left;
      margin-right: 5px;
    }
    .config-panel {
      display: none;
      height: 95%;
      margin-left: 2px;
      .config-container {
        // height: 100%;
        margin: .25em 1.5em 1.5em 0;
      }
      .vertical-scroll {
        overflow-y: auto;
        height: 100%;
      }
      .login-container {
        text-align:center;
        .imdone-login-pane {
          .input {
            text-align: left;
          }
          display: inline-block;
          margin: auto;
        }
      }
    }
    .close-button {
      position: absolute;
      top: 2px;
      right: .2em;
      cursor: pointer;
      font-size: 2em;
      font-weight: bold;
      width: 1.5em;
      text-align: center;
      &:hover {
        color: white;
      }
    }

    .imdone-product-pane {
      margin-top: 2.5em;
      h1 {
        margin-top: 0;
      }

      .product-detail-view-content {
        .json-editor-btn-add {
          // background-color: @background-color-info;
        }
        .form-control {
          width: 60%;
        }
      }
      .product-select-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        li {
          list-style: none;
          width: 8em;
          text-align: center;
          margin-bottom: 1.5em;
          a {
            width: 4em;
            display: inline-block;
            margin-bottom: .5em;
            text-align: center;
            .icon::before {
              font-size: 4em;
            }
            .icon {
              margin-left: -2em;
              margin-bottom: .5em;
              &.icon-stop {
                color: @background-color-error;
              }
            }
          }
        }

      }
      .product-detail-wrapper {
        margin-left: 10em;
      }
    }
  }
  .imdone-ghost {
    background-color: @background-color-highlight !important;
  }
  color: @text-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .imdone-menu {
    position:absolute;
    top: 0;
    bottom: 0;
    left: -196px;
    width: @menu-width;
    z-index: 1;
    background-color: @base-background-color;
    transition: left  0.2s;
    &.open {
      left: 0;
    }
    .imdone-menu-inner {
      position:absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 1.5em 0 1em 1em;
    }
    .imdone-menu-toggle {
      position: absolute;
      top: 6px;
      right: 0;
      width: 28px;
      text-align: center;
    }
    .imdone-toolbar {
      left: 192px;
      bottom: 2px;
      position: absolute;
      transition: left  0.2s;
      width: 20px;
      &.open {
        left: -4px;
        width: @menu-width;
        .imdone-toolbar-button {
          .tool-text {
            display: inline;
            transition: visibility 0.2s, opacity 0.2s linear;
            opacity: 1;
          }
        }
      }
      .imdone-menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
      }
      .imdone-toolbar-button {
        cursor: pointer;
        text-align: left;
        border: none;
        background-color: inherit;
        height: 24px;
        min-width: 24px;
        padding: 4px;

        .icon {
          width: 36px;
          text-align: center;

          svg {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-bottom: -4px;
            margin-right: 2px;
            &:hover {
              fill:white;
              .visible-fill {
                fill:white;
              }
              .visible-stroke {
                fill:white;
                stroke:white;
                stroke-width:12;
              }
            }
            &.waffle-logo {
              width: 24px;
              height: 24px;
              margin-left: -4px;
            }
          }
        }

        a {
          .tool-text {
            margin-left: 2px;
          }
        }

        .tool-text {
          display: none;
          opacity: 0;
          transition: visibility 0s, opacity 0s linear;
        }
      }
      .menu-sep-space {
        font-size: 0;
        height: 10px;
        line-height: 0;
      }
      .menu-sep-space-2x {
        .menu-sep-space();
        height: 20px;
      }
      .menu-sep-space-3x {
        .menu-sep-space();
        height: 30px;
      }
      .imdone-icon {
        margin-top: 6px;
      }
      .imdone-profile {
        margin-bottom: .9em;
        .profile-image {
          margin-left: -4px;
          margin-right: 4px;
          img {
            border-radius: 50%;
            height: 24px;
            width: 24px;
          }
        }
      }
    }
    .imdone-filter {
      width: @menu-component-width;
      atom-text-editor {
        padding-right: 24px;
      }
      .clear-filter {
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 42px;
        width: 24px;
        border: none;
        background-color: inherit;
        height: 22px;
        padding: 4px;
      }
    }
    .lists-wrapper {
      overflow: auto;
      position: absolute;
      top: 30px;
      bottom: 300px;
    }
    .lists {
      list-style: none;
      padding-left: 0;
      margin-top: .5em;
      width: @menu-component-width;
      .hidden-list {
        color: @text-color-subtle;
      }
      li {
        line-height: 1.5;
        font-size: 1em;
        padding-left: 2px;
        &:hover {
          background-color: @background-color-highlight;
        }
        .toggle-list {
          font-size: 1.25em;
          cursor: pointer;
          span.list-meta {
              font-size: 75%;
          }
        }
        .reorder {
          cursor: move;
        }
      }
    }
  }

  .imdone-board-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 32px;
    right: 0;
    overflow: auto;
    &.shift {
      left: @menu-width;
    }
    &.shift-bottom {
      bottom: @config-height;
    }
    transition: left 0.2s;
    .imdone-board {
      margin: .5em 1em 1em 0;
      height: 96%;
      .list {
        float: left;
        width: @board-list-width;
        padding: 10px;
        background-color: @panel-heading-background-color;
        margin-right: 10px;
        .list-name-wrapper {
          background-color: @task-background-color;
          font-size: 1.5em;
          padding: .25em .4em;
          .list-name {
            display: inline-block;
            width: @board-list-name-width;
            .toggle-list-rename {
              display: none;
              float: right;
            }
            .delete-list {
              float: right;
            }
            &:hover .toggle-list-rename {
              display: inline;
            }
          }
        }
        .tasks {
          min-height: 50px;
          list-style: none;
          padding-left: 0;
        }
        .task {
          background-color: @task-background-color;
          font-size: @task-font-size;
          white-space: normal;
          word-wrap: break-word;
          position: relative;
          cursor: move;
          border: 2px solid @task-background-color;
          .task-text {
            margin-right: 1em;
            p {
              margin: 0 0 5px;
            }
          }
          .task-description {
            img {
              max-width: 320px;
            }
          }
          .task-filters {
            margin: 1em 0;
          }
          .task-source {
            margin: 1em 0 0 0;
          }
          .task-order {
            position: absolute;
            top: 2px;
            right: 2px;
          }
          .task-context {
            color: @text-color-warning;
          }
          .task-tags {
            color: @text-color-success;
          }
          .task-meta table {
            border: 1px solid @panel-heading-background-color;
            border-bottom: none;
            width: 100%;
            margin: .5em 0 .5em 0;
            font-size: .85em;
            tr {
              border-bottom: 1px solid @panel-heading-background-color;
              word-break: break-word;
              td {
                padding: 3px;
                &:nth-child(n+2) {
                  text-align: right;
                }
              }
            }
          }
          .task-source {
            a {
              color: @text-color-info;
            }
          }
          .imdone-task-plugins {
            text-align: right;
            min-height: 20px;
            margin-right: .3em;
          }
          &.selected {
            border-color: @text-color-info;
          }
        }
      }
    }
  }

  .well {
    padding: 10px;
    margin-bottom: 14px;
  }

  .config-panel {
    .input-med {
      width: 300px;
      float: left;
      margin-right: 5px;
    }

    .json-editor-container {
      margin-top: 20px;
      .json-editor {
        .well {
          padding: 0
        }
        .row {
          padding-bottom: 5px;
          padding-top: 5px;
        }
      }
      .mask {
        top: 80px;
      }
    }
  }
}
